@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap');

pre {
    background-color: #333; /* Dark background color */
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    background-color: #333; /* Dark background color */
    overflow-x: auto;
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
    color: #f4f4f4; /* Light text color for contrast */
}
